.container {
  background-color: #eee;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.App {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2em;
  background-color: aliceblue;
  padding: 1em;
}

.post img {
  max-width: 100%;
}

.post {
  box-shadow: 0 0 0.5em black;
  border-radius: 0.3em;
  transition: transform 200ms ease-in-out;
}

.post:hover {
  transform: scale(1.01);
  box-shadow: 0 0 0.5em rgb(81, 160, 7);
}

.post-content {
  padding: 1em;
}